/* 
 */


.alertModal {
    flex-wrap: wrap;
    justify-content: center;
    z-index: 11;
}

.alertModalContent {
    width: 300px;
    height: fit-content;
    margin: 0;
    padding: 0;
}

.alertModalHeader {
    padding: 25px
}