#FileBrowser {}

#filesList {
    background-color: wheat
}

.listItem {
    cursor: pointer;
}

#FileBrowserTitle {   
    padding-left: 1em;
    margin: 0
}

#FileBrowserTopBar {   
    background-color: indianred;   
}

#streamKeyFiltersSelect {
    margin-top: 8px;
    margin-right: 50px;
    width: 10em;
}