body {
    height: -webkit-fill-available;
    margin: 0;
    padding: 0;
    background-image: radial-gradient(#864f4f,#2e2e67);
    color: white;
    font-size: larger;
    padding: 1em
}

#loadingModal {
    position: fixed;
    top: 50%;
    left: 45%;
}

#log {
    margin-top: 8em;
}