/* 


*/
body {
  background-color: #433f5a;
  margin-top: 4em;
}

#tabNav {
  -webkit-app-region: drag;
  background-image: -webkit-linear-gradient(#0F2027, #203A43, #2C5364);
  color: azure;
  height: 3em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.tabNavs {
  height: -webkit-fill-available;
  padding-top: 13px;
}

button,
a,
select,
input {
  -webkit-app-region: no-drag;
}

.fadeOut {
	visibility: hidden;
	opacity: 0;
  transition: visibility 0s linear 1s, opacity 1s;  
}

.fadeIn {
	visibility: visible;
	opacity: 1;
  transition: visibility 1s linear 0s, opacity 1s;  
}

.row {
  display: flex;
  align-items: center;
}
