#createChainModal {
    z-index: 300;
    position: fixed;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

#presetChain {}

.chainIcon {
    font-size: 1em;
    margin: 10px 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.chainIcon:hover {
    box-shadow: 1px 1px 5px 3px rgb(66, 64, 64);
}

#chainIconRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#chainIconRow i {
    font-size: -webkit-xxx-large;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#chainIconRow span {
    font-size: 26px;
}