#Streams {}

.streamCard {
  width: fit-content;
  padding: 1px 28px;
  color: burlywood;
  padding-bottom: 1em
}

.cardHeader {
  cursor: pointer;
}

#streamsDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: normal;
}

#streamActions {
  background-color: brown;
  height: 60px;
  font-size: x-large;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 17px;
}

#newStreamModal {
  background-color: #00000085;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  position: fixed;
  top: 0;
  left: 0;  
}

#newStreamModalContent {
  top: 20%;
}

.streamIcon {
  font-size: 5em;
  margin: 10px 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.streamIcon:hover {
  box-shadow: 1px 1px 5px 3px rgb(66, 64, 64);
} 