/* 


*/

#tabNav {
  -webkit-app-region: drag
}

button,a,select,input {
  -webkit-app-region: no-drag;
}



.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.box {
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: fit-content;
}

.tabNavs {  
  align-items: center;
  height: 38px;
}

