/* 


*/
body {
  background-color: slategray
}
#tabNav {
  -webkit-app-region: drag;
  background-image: -webkit-linear-gradient(#0F2027,#203A43,#2C5364);
  color: azure;
  height: 3em;
}

.tabNavs {   
  height: -webkit-fill-available;
  padding-top: 13px;
}

button,a,select,input {
  -webkit-app-region: no-drag;
}

.tab {
  background-color: darkgray
}



.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.box {
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: fit-content;
}


